* {
  box-sizing: border-box;
}

.mainContentCanvas {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #f9f9f9;
  padding: 92px 12px 185px;
  width: 390px;
  height: 884px;
  overflow: auto;
  row-gap: 32px;

  .text {
    flex-shrink: 0;
    line-height: 24px;
    letter-spacing: 0;
    color: #1a1c1c;
    font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  .welcomeMessageAvatar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;

    .margin {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 143px;
      margin-left: 143px;
      padding-bottom: 16px;

      .background {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background: #ff5a1f;
        width: 80px;
        height: 80px;

        .container {
          flex-shrink: 0;
          width: 33px;
          height: 30px;
        }
      }
    }

    .text2 {
      flex-shrink: 0;
      padding: 4px 0px 0px;
      line-height: 20px;
      letter-spacing: 0;
      color: #666666;
      font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .supportCategoriesGri {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    height: 264px;

    .text4 {
      flex-shrink: 0;
      line-height: 16px;
      letter-spacing: 0;
      color: #666666;
      font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .text3 {
      flex-shrink: 0;
      padding: 0px 0px 4px;
      line-height: 22px;
      letter-spacing: 0;
      color: #1a1c1c;
      font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .buttonCategory1 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background: #ffffff;
        padding: 15px 16px 15px 15px;

        .margin2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 106px;
          padding-bottom: 12px;

          .background2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background: #eeeeee;
            width: 40px;
            height: 40px;

            .container2 {
              flex-shrink: 0;
              width: 18px;
              height: 20px;
            }
          }
        }
      }

      .buttonCategory3 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background: #ffffff;
        padding: 15px 28px 15px 15px;

        .margin3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 94px;
          padding-bottom: 12px;

          .background3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background: #eeeeee;
            width: 40px;
            height: 40px;

            .container3 {
              flex-shrink: 0;
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }

    .autoWrapper2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .buttonCategory2 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background: #ffffff;
        padding: 15px 16px 15px 15px;

        .margin4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 106px;
          padding-bottom: 12px;

          .background4 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background: #eeeeee;
            width: 40px;
            height: 40px;

            .container4 {
              flex-shrink: 0;
              width: 22px;
              height: 16px;
            }
          }
        }
      }

      .buttonCategory4 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background: #ffffff;
        padding: 15px 16px 15px 15px;

        .margin5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 106px;
          padding-bottom: 12px;

          .background5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background: #eeeeee;
            width: 40px;
            height: 40px;

            .container5 {
              flex-shrink: 0;
              width: 16px;
              height: 4px;
            }
          }
        }
      }
    }
  }

  .recentOrdersHelp {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #ffffff;
    padding: 9px;
    row-gap: 16px;

    .horizontalBorder {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-right: 2px;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: #e5e5e5;
      padding-bottom: 7px;

      .button {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;

        .text5 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #ae3200;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .container6 {
          flex-shrink: 0;
          width: 5px;
          height: 8px;
        }
      }
    }

    .container8 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      border-radius: 4px;
      padding: 8px;

      .margin6 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 12px;

        .imageBackground {
          flex-shrink: 0;
          border-radius: 4px;
          width: 48px;
          height: 48px;
        }
      }

      .container7 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;

        .text6 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1c1c;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .text7 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 16px;
          letter-spacing: 0;
          color: #666666;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .button2 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: #ff5a1f;
        padding: 6px 12px;

        .text8 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .bottomFixedActionsCa {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: center;
    column-gap: 8px;
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #ffffff;
    padding: 11px 12px 12px;
    width: 390px;
    height: 69px;

    .button3 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 4px;
      background: #eeeeee;
      padding-top: 12px;
      padding-bottom: 12px;

      .container9 {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
      }

      .text9 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #1a1c1c;
        font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .button4 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 4px;
      background: #ff5a1f;
      padding-top: 12px;
      padding-bottom: 12px;

      .container10 {
        flex-shrink: 0;
        width: 17px;
        height: 17px;
      }

      .text10 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .headerTopAppBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #f9f9f9;
    padding-right: 155px;
    padding-left: 12px;
    width: 390px;
    height: 56px;

    .buttonMargin {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      padding-right: 8px;
      padding-bottom: 8px;
      width: 32px;

      .button5 {
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        margin-left: -8px;
        border-radius: 12px;
        padding: 8px;

        .container11 {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
        }
      }
    }

    .text11 {
      flex-shrink: 0;
      line-height: 28px;
      letter-spacing: 0;
      color: #1a1c1c;
      font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
